* {margin:0px;padding:0;box-sizing:border-box;}

@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Raleway');

body {
	font-family: helvetica, arial, sans-serif;
	background-color: rgb(247,254,255);		
}
h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 42px;
	font-weight: bold;
	margin: 10px
}
h2{
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
	text-align: center;
}

h3 {
	font-size: 18px;
	font-weight: bold;
}

h4 {
	font-size: 18px;
	font-weight: lighter;
	color: white;
}

h5 {
	font-size: 18px;
	color: white;
}

hr{
	color: rgb(175,232,235);
	width: 400px;
	display: block;
	margin-left: auto;
	margin-right:auto;
}

header {
	padding: 200px;
	background-image: url("images/Main-Picture.jpg");
}

nav{
	background-color: rgb(6,20,79);
	text-align: center;
}


a {
	color: white;
	font-weight: lighter;
	font-size: 20px;
	width: 200px;
}

a:hover {
	background-color: white;
}

p{
	font-size: 16px;
	background-color: purple;
	font-family: helvetica, arial, serif;
	font-weight: lighter;
	line-height: 1.5em;
	margin: 0px;
}


#image-circle {
	border-radius: 50%;
	width: 15%;
	display: block;
	margin-left: auto;
	margin-right:auto;
}
#topheader {
	font-size: 80px;
	font-weight: normal;
	color: white;
	text-transform: uppercase;
	text-align: center;
}
#JobDescription {
	text-align: center; 
	font-size: 30px;
	font-weight: normal;
	color: white;
	text-transform:uppercase;
}

#slogan {
	font-size: 24px;
	font-weight: 100;
	color: white;
	text-align: center;
}
#intro {
	text-align: center;
	margin: 2px;
	padding: 200px;
}

#portfolio-direct-link {
	margin: 2px;
	padding: 20px;
	text-align: center;
	background-color: rgb(175,232,235)
}

#portfoliobutton {
	font-size: 20px;
	color: black;
}

#philosophy {
	padding: 30px;
}

#skills {
	padding: 20px;
	clear:both;
	background-color: rgb(175,232,235);
}

#main-projects {
	text-align: center;
	padding: 30px;
}

#additional-projects {
	text-align: center;
	padding: 30px;
}

footer {
	text-align: right;
	background-color: rgb(6,20,79);
	padding: 25px;
}

#connecticons {
	text-align: left;
}

.navigationlinks {
	background-color: rgb(6,20,79);
	color: white;
	text-decoration: none;
	text-align: center;
	display: block;
	float: left;
	padding: 20px;
	margin: 0.5%;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	content: " ";
	clear:both;
	height: 0;
	font-size: 0;
}

.designphilosophypictures {
	width: 100%;
	margin:10px;
}

.Philosophyphotos-words {
	float: left;
	display: block;
	text-align: center;
	width: 25%;
	padding: 10px;
	margin: auto;
}

.designskills {
	width: 70px;
	margin: 10px;
}

.skill-images{
	float: left;
	display: inline-block;
	text-align: center;
	width: 10%;
	height:200px;
	padding: 50px;
}

.mainprojects{
	float: left;	
	width: 30%;
	margin: 10px;
}

.additionalprojects {
	width: 400px;
	margin: 15px;
}

.socialmedia{
	margin:2px;
	width: 40px;
}
