* {margin:0px;padding:0;box-sizing:border-box;}

@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Raleway');

body {
	font-family: helvetica, arial, sans-serif;
	background-color: rgb(247,254,255);		
}

nav{
	background-color: rgb(6,20,79);
	text-align: center;
}

.navigationlinks {
	background-color: rgb(6,20,79);
	float: right;
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	margin: 0.5%;
}

a {
	color: white;
	font-weight: lighter;
	font-size: 20px;
	width: 200px;
}

a:hover {
	background-color: white;
	color: black;
}

p{
	font-size: 16px;
	font-family: helvetica, arial, serif;
	font-weight: lighter;
	line-height: 1.5em;
	margin: 0px;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	content: " ";
	clear:both;
	height: 0;
	font-size: 0;
}

input[type=text],select,textarea{
	width: 100%;
	padding: 12px;
	border:1px solid black;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}