* {margin:0px;padding:0;box-sizing:border-box;}

@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Raleway');

body {
	font-family: helvetica, arial, sans-serif;
	background-color: rgb(247,254,255);
	font-size: 16px		
}
h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 2.6em;
	font-weight: bold;
	margin: 10px;
	text-align:center;
}
h2{
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	text-align: center;
	padding: 30px 0;
}

h3 {
	font-size: 1.1em;
	font-weight: bold;
	padding: 10px 0;
}

h4 {
	font-size: 1.5em;
	font-weight: lighter;
	color: white;
	height: 40px;
	text-align: center;
}

h5 {
	font-size: 1.1em;
	font-weight: medium;
}

# {
	background-color: rgb(178,147,59);
	color:white;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 1em;
}

hr{
	color: rgb(175,232,235);
	width: 400px;
	display: block;
	margin-left: auto;
	margin-right:auto;
}

header {
	padding: 180px 0;
	background-image: url("images/Main-Picture.jpg");
	height: #;
}

nav{
	background-color: rgb(6,20,79);
	text-align: center;
}


a {
	font-weight: lighter;
	font-size: 1.2em;
	width: 200px;
}

nav a:hover {
	background-color: white;
	color: black;
}

section a:hover{
	color: #B2943B;

}

p{
	font-size: 1em;
	font-family: helvetica, arial, serif;
	font-weight: lighter;
	line-height: 1.5em;
	margin: 0px;
}


#image-circle {
	border-radius: 50%;
	width: 10em;
	display: block;
	margin-left: auto;
	margin-right:auto;
}
#topheader {
	font-size: 4em;
	font-weight: normal;
	color: white;
	text-transform: uppercase;
	text-align: center;
}
#JobDescription {
	text-align: center; 
	font-size: 1.8em;
	font-weight: normal;
	color: white;
	text-transform:uppercase;
}

#slogan {
	font-size: 1.5em;
	font-weight: 100;
	color: white;
	text-align: center;
}
#intro {
	text-align: center;
	margin: 2px;
	padding: 200px;
}

#portfolio-direct-link {
	text-decoration: none;
	padding: 15px;
	margin: 0.5%;
	margin: 2px 0;
	padding: 20px;
	text-align: center;
	background-color: rgb(175,232,235)
}

#portfoliobutton {
	font-size: 1.2em;
	color: black;
	padding: 10px 10px;
}

#connecticons {
	text-align: left;
}

.navigationlinks {
	background-color: rgb(6,20,79);
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 20px 0;
}

.after-main {
	clear:left;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	content: " ";
	clear:both;
	height: 0;
	font-size: 0;
}

#philosophy {
	padding: 50px 0;
	text-align: center;
}

.designphilosophypictures {
	width: 50%;
	margin:2px;
}

.Philosophyphotos-words {
	float: left;
	text-align: center;
	width: 33.33%;
	padding: 50px 25px;
	;
}

#skills {
	padding: 50px 0;
	background-color: rgb(175,232,235);
	text-align: center;
}

.designskills {
	width: 70px;
	margin: 0 20px;
}

.skill-images{
	display: inline-block;
	text-align: center;
	padding: 50px 0;
}

#ux-uidesignprojects {
	text-align: center;
	padding: 50px 0;
}

.ux-uidesignpicture {
	width: 100%;
}

.ux-uidesign-image-text {
	float: left;
	text-align: left;
	position: relative;
	padding: 0 5px;
	width: 33.33%;

}

.bottomleft {
	background-color: #DCF0FF;
	color: black;
	padding: 20px 0 20px 10px;

}

#industrialdesignprojects {
	text-align: center;
	padding: 50px 0 80px;
}

.industrialdesignimages {
	width: 100%;
}

.industrialdesign-image-text {
	float: left;
	text-align: left;
	position: relative;
	padding: 0 5px;
	width: 33.33%;
}	

.projectlinks {
	color: purple;
	text-decoration: none;
	display: inline-block;
	padding: 10px 0;
	font-size: 0.9em;
	font-weight: lighter;
}

footer {
	background-color: #87ABFF;
}

#connecticons-column{
	text-align: center;
	padding: 30px 20px;
	width: 100%;
}

.socialmedia{
	padding:2px;
	width: 4%;
}

.container {
	padding: 30px 300px 30px;
	color: white;
	background-color: rgb(24,41,79);
}

input[type=text],select,textarea{
	width: 100%;
	padding: 12px;
	border:1px solid black;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

#writesubject {
	padding: 10px 12px 30px;
}

input[type=submit] {
	background-color: rgb(178,147,59);
	color: white;
	padding: 15px 32px;
	text-align: left;
	display: inline-block;
	font-size: 1em;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

@media only screen and (min-width: 1200px) {
	.Philosophyphotos-words {
		float: left;
		width: 33.33%;
		padding: 20px 25px;
}

@media only screen and (max-width: 800px) {
	#image-circle {
		width: 9em;
	}

	.skill-images {
		width: 20%;
		padding: 20px 0;
	}

	nav a {
		font-size: 1.2em;
		width: 23%;
	}

	.socialmedia{
	margin: 2px;
	width: 7%;
	}

	.container {
	padding: 30px 60px 30px;	
	}
}

@media only screen and (max-width: 500px) {
	header {
		padding: 110px 0;
	}
	#image-circle {
		width: 40%;
	}
	#topheader {
		font-size: 2.5em;
	}

	#JobDescription {
		font-size: 1.3em;
	}

	#slogan {
		font-size: 1em;
	}

	nav a {
		font-size: 1.1em;
		width: 100%;
	}

	h2 {
		font-size: 1.5em;
	}

	.Philosophyphotos-words {
		float: none;
		width: 100%;
		padding: 20px 25px;
	}	

	.skill-images {
		width: 33.33%;
		padding: 10px 0;
	}
	
	.ux-uidesign-image-text{
		float: none;
		display: inline-block;
		width: 100%;
		padding: 10px 0;
	}

	.industrialdesign-image-text {
		float: none;
		width: 100%;
		padding: 10px 0;
	}

	#connecticons-column{
	text-align: center;
	padding: 20px;
	width: 100%;
	float: none;
	}

.socialmedia{
	padding:2px;
	width: 15%;
	}

	.container {
	padding: 30px 40px 30px;	
	}
}